{% extends 'flatpages/index.html' %}

{% block content %}
{% if user.id == post.author.id %}
    <h1 class="comment-heading">
        Update section
    </h1>
    <hr>
    <form class="comment-heading" action="" method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <input class="button-edit" type="submit" value="Let's go" />
    </form>
{% else %}
    <h1 class="comment-heading">
        Sorry, you're not the author :(
    </h1>
{% endif %}
{% endblock content %}
