{% extends 'flatpages/index.html' %}

{% block content %}
{% if user.id == post.author.id %}
    <h1 class="comment-heading">
        Deletion section
    </h1>
    <hr>
    <form class="comment-heading edit-int" action="" method="post">
        {% csrf_token %}
        <p>
            Are you sure you want to delete "{{ object.title }}"?
        </p>
        <input class="button-del" style="float:none !important;" type="submit" value="Delete" />
    </form>
{% else %}
    <h1 class="comment-heading">
        Sorry, you're not the author :(
    </h1>
{% endif %}

{% endblock content %}
