{% extends 'flatpages/index.html' %}

{% block content %}
<h2 class="comment-heading">
    All articles
</h2>
{% for post in posts %}
<!--  container for a post  -->
    <div class="post-main shadow-post dotted">
        <h2 class="title">
            {{ post.title }}
        </h2>
        <div class="author-cat">
            {% if user.id == post.author.id %}
                <strong> By <i  style="color:white;">{{ post.author }} </i></strong>
            {% else %}
                <strong> By <i>{{ post.author }} </i></strong>
            {% endif %}
            <strong>| Category - <i>{{ post.category }} </i> |  {{ post.created|date:'d M Y' }}</strong>
        </div>
        <div class="post-text">
            {{ post.text|truncatechars:999|safe }}
            <form action="/news/{{ post.id }}" method="">
                <button class="button-new">  Full version  </button>
            </form>
        </div>
    </div>
{% endfor %}

<div style="text-align: center;">
    {% if page_obj.has_previous %} <!--  if object has previous page  -->
        <a class="shadow-pagination dotted" href="?page=1" >1</a>
        {% if page_obj.previous_page_number != 1 %}
            <a class="shadow-pagination dotted" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    <a class="shadow-pagination dotted" href="?page=1">{{ page_obj.number }} </a>
    {% if page_obj.has_next %} <!--  if object has next page  -->
        <a class="shadow-pagination dotted" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            <a class="shadow-pagination dotted" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
</div>

{% endblock content %}