{% extends 'flatpages/index.html' %}

{% load static %}
{% block content %}

{% csrf_token %}
<form id="update" action="{{ post_detail.id }}/update/"></form>
<form id="del" action="{{ post_detail.id }}/delete/"></form>

<div class="full-height row">
    <div class="column-post">                                               <!--  POST column  -->
            <h2 class="comment-heading">
                Article
            </h2>
            <div class="shadow-post dotted">
                <h2 class="title">
                    {{ post_detail.title }}
                </h2>
                <h5 class="author-cat">
                    Category - <i>{{ post_detail.category }} </i> |
                    By <i>{{ post_detail.author.username }}</i> |
                    {{ post_detail.created|date:'d M Y' }}
                </h5>
                <div class="post-text">
                    <div>
                        {{ post_detail.text|safe }}
                    </div>
                    {% if user.id == post_detail.author.id %}
                        <div>
                            <button form="update" class="button-edit">Edit</button>
                            <button form="del" class="button-del">Delete</button>
                        </div>
                    {% endif %}
                </div>
            </div>
    </div>
    <div class="column-comment">                                                <!--  COMMENT column  -->
        {% if comments %}
                <h2 class="comment-heading">
                    Comments
                </h2>

            {% for comment in comments.text %}
                {% if comment.approved %}
                    <div class="shadow-comment dotted">
                        <h4 class="author">
                            <i>{{ comment.author__username }}</i> |
                            {{ comment.created|date:'d M Y' }} |
                            {{ comment.created|date:'H:i' }}
                        </h4>
                        <div class="comment-text">
                            {{ comment.text }}
                        </div>
                    </div>

                {% else %}
                    <div class="shadow-comment dotted" style="text-align:center;">
                        <p>
                            This comment from {{ comment.author__username }} still not approved by {{ post_detail.author.username }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div>
                <h2>
                    No comments
                </h2>
            </div>
        {% endif %}

        <form id="new_com" action="{{ post_detail.id }}/comment/"></form>
        <button class="button-new" form="new_com">  New comment  </button>
    </div>
</div>
{% endblock content %}
