{% extends 'flatpages/index.html' %}


{% block content %}
<!--  overwrite some styles for the better experience -->
<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
 }
 .container-name {
  border: 2px solid #C2CACA;
  background-color: #738AA7;
  border-radius: 12px;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  width: 25%;
  float: right;

}

.container-com {
  border: 2px solid #C6CECE;
  background-color: #C2CACA;
  border-radius: 5px;
  height: 300px;
  padding: 10px;
  margin: 10px 0;
}

.container-post {
  border-radius: 5px;
  height: 165px;
  padding: 10px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #598886;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.button {
    background-color: #94945C;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    float: right;
}
</style>


{% for post in posts %}

<div class="row"> <!--  container for a post  -->
    <div class="container-com">
    <h3>{{ post.title }}</h3>
        <div class="container-post">
            <a>{{ post.text|truncatechars:999 }}</a>
        </div>
    <form action="/news/{{ post.id }}" method="">
        <button class="button">  Full version  </button>
    </form>

        {% if user.id == post.author.id %}

            <div class="container-name" style="float:left;background-color: #598886;">
                <strong> By <i>{{ post.author }} </i></strong>
            </div>

        {% else %}

            <div class="container-name" style="float:left;">
                <strong> By <i>{{ post.author }} </i></strong>
            </div>

        {% endif %}




        <div class="container-name" style="float:left;">
           <strong> Category - <i>{{ post.category }} </i></strong>
        </div>
    </div>

</div>

{% endfor %}

<div class="pagination">

    {% if page_obj.has_previous %} <!--  if object has previous page  -->
        <a href="?page=1" >1</a>

        {% if page_obj.previous_page_number != 1 %}
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}

    {% endif %}

    <a href="?page=1" class="active">{{ page_obj.number }} </a>

    {% if page_obj.has_next %} <!--  if object has next page  -->
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>

        {% if paginator.num_pages != page_obj.next_page_number %}
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}

    {% endif %}

</div>

{% endblock content %}