{% extends 'flatpages/index.html' %}
{% block content %}



<h2 class="comment-heading">
    Hi, {{ user }}! Welcome!
</h2>
<hr>
<h3 class="comment-heading">
        You can approve or reject these comments
    </h3>

<h5 class="comment-heading" style="color:red;">
    - Apply this filter below if you need to -
</h5>
<div>
    <form id="filter" class="comment-heading" action="" method="get">
        {{ filterset.form.as_p }}
    </form>
    <input form="filter" class="button-center boom" type="submit" value="Booom" />
</div>

{% for comment in coms %}

    {% if comment.author_id != user.id and not comment.approved %}
        <div class="shadow-comment dotted comment-profile">
            <h4 class="title">
                <a href="/news/{{ comment.post_id }}">
                    <i>click</i> -> {{ comment.post.title }} <-
                </a>
            </h4>
            <h5 class="author">
                By <i>{{ comment.author }}</i> |
                {{ comment.created|date:'d M Y' }} |
                {{ comment.created|date:'H:i' }}
            </h5>
            <div class="comment-text">
                {{ comment.text }}
                <div>
                    <form id="f_reject" action="{% url 'comment_delete' comment.post.id %}" method="POST">
                        {% csrf_token %}
                    </form>
                    <form id="f_approve" action="{% url 'comment_approve' comment.post.id %}" method="POST">
                        {% csrf_token %}
                    </form>
                    <button form="f_approve" name="com_approve" value="{{ comment.id }}" class="button-edit">
                        Approve
                    </button>
                    <button form="f_reject" name="com_delete" value="{{ comment.id }}" class="button-del">
                        Reject
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
{% empty %}
<div class="post-text shadow-post dotted empty center">
    <p class="comment-text center">
        Opps! Looks like you do not have comments.
    </p>
    <p class="comment-text">
        Actually, you know what? Good job!
    </p>
</div>
{% endfor %}
{% endblock %}